<div class="container-sm p-2">
    <div class="card-top-space"></div>
    <div class="card-top-space"></div>
    <div class="card-top-space"></div>
    
    <div class="card border-0 shadow-lg">
        <div class="text-primary description-text">Quick Access</div>
        <div class="cards-parent">
            <div *ngFor="let name of quickAccessItems; let i=index" [attr.data-index]="i">
            <div class="card-items-body">
                <div class="user-avatar">{{i}} {{name.msg}}</div>  
                <div style="height: 25px;"></div>  
                <div class="text-primary fw-bolder">Item Name and description</div>    
            </div>
            </div>
        </div>
    </div>
    <div class="card-top-space"></div>
    <div class="card-top-space"></div>
    <div class="card-top-space"></div>    
</div>
