<div class="maincolumn">
<div class="container-flui d-flex bg-primary justify-content-around main-body-style">
            
    <!-- <div class="user-avatar">         -->
        <i class="bi bi-house-fill" style="font-size: 30px;color: white;"></i>
    <!-- </div> -->

    <form>
        <div class="form-group d-flex">
            <input class="form-control border-end-0 border rounded-pill" type="text" value="" id="example-search-input">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill 
                <!-- ms-n3 -->
                ms-n5
                " type="button">
                    <i class="bi bi-search"></i>
                </button>
            </span>
     </div>
    </form>
    <div> <i class="bi bi-person" style="font-size: 25px; color:white;"></i></div>
</div>
<div class="mini-image-header-body">
    <div class="mini-image-header"></div>
    <div class="mini-image-header-dark-overlay"></div>
    <div class="text-over-pic"> Welcome </div>
</div>

<app-homecard>
    
</app-homecard>
</div>