<div class="container-fluid main-body">
    <div class="card center-card-width card-body-color shadow border-0">
        <div class="space-top"></div>
        <div class="circle-head bg-primary d-grid justify-content-center align-content-center">
            <!-- <i class="bi bi-search"></i> -->
            <i class="bi bi-android2" style="font-size: 40px; color:white;"></i>
        </div>
        <div class="title-main">Phantom</div>
        <div class="sub-title">A digital wallet reimagined for DeFi & NFTs</div>
        <div style="height: 60px;"></div>
        <!-- <a routerLink="/home"> -->
        <div class="d-grid col-11">
                <button type="button" (click)="goToHome()" class="btn btn-primary btn-block text-white">Create New Wallet</button>
            </div>
        <!-- </a>             -->
        <div style="height: 10px;"></div>
        <div class="d-grid col-11">
            <button type="button" class="btn btn-secondary btn-block">Use Secret Code</button>
        </div>        
    </div>